body {
  background-color: lightgray;
  font-family: Arial;
}

.container {
  text-align: center;
  padding: 20px;
}

.button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
}

.table {
  margin: auto;
  margin-top: 20px;
  border-collapse: collapse;
}